#!/usr/bin/make -f

DESTDIR     := $(CURDIR)/debian/ohgodethlargementpill
BINARY_NAME := $(shell find "$(CURDIR)" -maxdepth 1 -type f -iname 'ohgodaneth*' ! -iname '*.exe')

GIT_COMMIT  := $(shell git log master -1 --pretty=format:%h)
GIT_DATE    := $(shell date '+%Y%m%d')
PKG_VERSION := 0.0+git$(GIT_DATE).$(GIT_COMMIT)

%:
	dh $@ --with systemd

override_dh_install:
	install -D -o root -g root -m 0755 \
		"$(BINARY_NAME)" \
                "$(DESTDIR)/usr/sbin/ohgodethlargementpill"
	install -D -o root -g root -m 0755 \
		"$(CURDIR)/debian/check-io-strict-devmem" \
                "$(DESTDIR)/usr/sbin/check-io-strict-devmem"

override_dh_gencontrol:
	dh_gencontrol -- -v"$(PKG_VERSION)"
